version: "3.9"

services:
  hitcounter:
    image: ghcr.io/paulovigne/hitcounter:main
    container_name: hitcounter
    ports:
      - "8080:8080"
    environment:
      # App
      PORT: "8080"
      ENABLE_REDIS: "true"

      # Redis
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_PASSWORD: ""
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "/app/hitcounter", "--healthcheck"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    command: >
      redis-server
      --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
    restart: unless-stopped

volumes:
  redis-data:
